.about-us__title {
  margin: 0 0 48px;
  padding: 0;
  color: @black;
  font-family: @raleway;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 100% */
}

.about-us__description {
  margin: 0 0 30px;
  padding: 0;
  color: @dark-gray;
  font-family: @rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.about-us__list {
  list-style-type: none;
  margin: 0 0 30px;
  padding: 0;
}

.about-us__link {
  width: 270px;
}
