.categories {
  margin: 0 auto;
  padding: 33px 0 72px;
}

.categories__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}

.categories__item {
  position: relative;
}

.categories__item:hover .categories__img {
  background-color: @yellow-dark;
}

.categories__item:active {
  opacity: 0.3;
}

.categories__link {
  text-decoration: none;
  color: @black;
  font-family: @raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.36px;

  &:focus {
    outline: none;
  }

  &:focus-within::before {
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border: 2px solid @purple;
    left: -4px;
    top: -4px;
  }
}

.categories__img {
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  margin-bottom: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: @yellow;

  &--vr {
    background-image: url("../img/catalog-vr.svg");
  }

  &--monopods {
    background-image: url("../img/catalog-monopods.svg");
  }

  &--camera {
    background-image: url("../img/catalog-camera.svg");
  }

  &--bracelets {
    background-image: url("../img/catalog-bracelets.svg");
  }

  &--whatch {
    background-image: url("../img/catalog-whatch.svg");
  }

  &--quadcopters {
    background-image: url("../img/catalog-quadcopters.svg");
  }
}
