.footer-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.footer-nav__link {
  text-decoration: none;
  color: @white;
  font-family: @raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
