.special {
  margin: 110px 0;
  padding: 0;
}

.special__link {
  margin: 0;
  padding: 38px 200px;
  width: 100%;
  text-decoration: none;
  color: @black;
  background-color: @light;
  text-align: center;
  font-family: @raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.special::before {
  content: "";
  width: 125px;
  height: 100px;
  background-color: #ffe17f;
  background-image: url("../img/special-delivery.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 140px;
  z-index: 1;
}

.special__link-info {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.5);
  position: absolute;
  right: 183px;
  transform: translateY(-20%);
}

.special__link-info-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}
